*{
  box-sizing: border-box;
  padding: 0px;
  margin:0px;
}

#sectionKitty{
  background-image: url("../assets/img/Landscape.jpg");
  background-size:100% 100%;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items:flex-end;
  min-height: 100vh;
}

.imageKitty{
  max-width:100%;
}

@media (max-width:1024px){
 #sectionKitty{
    background-image: url("../assets/img/dawn.png");
  }
}

@media (max-width:680px){
  #sectionKitty{
    background-image: url("../assets/img/maxresdefault.jpg");
  }
}
